<!DOCTYPE html>
<html>
<head>
    <title>Gallery</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Gallery</h1>
  <a href="/">Back to Home</a>
  <div class="gallery">
    <% images.forEach(img => { %>
      <div class="gallery-item">
        <img src="/uploads/<%= img.filename %>" width="180" />
        <p><%= img.originalname %><br/>
          <small><%= new Date(img.uploadDate).toLocaleDateString() %></small>
        </p>
      </div>
    <% }) %>
  </div>
</body>
</html>
